.Profile{
    position: relative;
    display: grid;
    grid-template-rows: 50rem auto 50rem;    
    gap:1rem;    
}
.Profile-center{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
  
     /* For desktop: */
  @media only screen and (min-width: 920px) {
    .Profile{       
      grid-template-columns: 18rem auto 20rem;  
      /* height: 100vh;  */
    }
    
  }